<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.campus"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Features -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />

    <!-- Internet permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Network state permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Write and read permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Calendar permissions -->
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!-- Contacts read and write permissions -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- Google Maps permissions -->
    <permission
        android:name="com.dev.campus.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.dev.campus.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:name="com.dev.campus.CampusUB1App"
        android:allowBackup="true"
        android:icon="@drawable/campus_ub1_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dev.campus.LauncherActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dev.campus.home.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dev.campus.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name="com.dev.campus.event.EventsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_events"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.dev.campus.directory.DirectoryActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_directory"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dev.campus.event.EventViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_events"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dev.campus.map.MapActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait"
            android:theme="@style/map_activity_style" >
        </activity>
        <activity
            android:name="com.dev.campus.schedule.ScheduleActivity"
            android:label="@string/title_activity_scheduler" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/maps_api_debug_key" />
    </application>

</manifest>