<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.campus"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Write and read permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
   

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:name="com.dev.campus.CampusUB1App"
        android:allowBackup="true"
        android:icon="@drawable/campus_ub1_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dev.campus.ac.HelperActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dev.campus.ac.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.dev.campus.ac.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name="com.dev.campus.event.EventsActivity"
            android:label="@string/title_activity_events" >
        </activity>
        <activity
            android:name="com.dev.campus.ac.DirectoryActivity"
            android:label="@string/title_activity_directory" >
        </activity>
        <activity
            android:name="com.dev.campus.event.CategoryActivity"
            android:label="@string/title_activity_categories" >
        </activity>
        <activity
            android:name="com.dev.campus.event.EventViewActivity"
            android:label="@string/title_activity_events" >
        </activity>
    </application>

</manifest>